<head>
    <style>
        .bg-image {
            /* The image used */
            background-image: url("/static/images/background2.jpg");

            /* Add the blur effect */
            filter: blur(2px);
            -webkit-filter: blur(2px);

            /* Full height */
            height: 100%;

            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .bg-text {
            {#background-image: url("/static/images/logo.png");#}
            {#height: 248px;#}
            {#width: 700px;#}
            font-weight: bold;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .logo{
            background-image: url("/static/images/logo.png");
            height: 248px;
            width: 700px;
        }

    </style>
    <title>DoodleHub</title>

</head>
<body>
<div class="bg-image"></div>
<div class="bg-text">
    <form class="tsf nj" action="/search" style="overflow:visible" data-submitfalse="q" id="tsf" method="GET" name="f"
          role="search">

        <div jsmodel="vWNDde" jsdata="MuIEvd;;APFs4k">
            <div jscontroller="mvYTse" jsmodel="TMlYFc" class="A8SBwf" jsdata="LVplcb;_;"
                 jsaction="DkpM0b:d3sQLd;IQOavd:dFyQEf;XzZZPe:jI3wzf;Aghsf:AVsnlb;iHd9U:Q7Cnrc;f5hEHe:G0jgYd;vmxUb:j3bJnb;R2c5O:LuRugf;R3Yrj:DURTdb;qiCkJd:ANdidc;NOg9L:HLgh3;uGoIkd:epUokb;zLdLw:eaGBS;rcuQ6b:npT2md">
                <style>.emca, .emcat, .emcav, .sbfc, .iblpc {
                }</style>
                <style>.A8SBwf {
                    position: relative;
                    margin: 0 auto;
                    padding-top: 6px;
                    width: 484px;
                }

                #searchform.big .A8SBwf {
                    width: 584px;
                }

                .RNNXgb {
                    background: #fff;
                    display: flex;
                    border: 1px solid #dfe1e5;
                    box-shadow: none;
                    border-radius: 24px;
                    z-index: 3;
                    height: 44px;
                    margin: 0 auto;
                    width: 482px;
                }

                .minidiv .RNNXgb {
                    height: 32px;
                    border-radius: 16px;
                    margin: 10px 0 0
                }

                .emcav .RNNXgb {
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                    border-color: rgba(223, 225, 229, 0);
                    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28)
                }

                .minidiv .emcav .RNNXgb {
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0
                }

                .emcav.emcat .RNNXgb {
                    border-bottom-left-radius: 24px;
                    border-bottom-right-radius: 24px
                }

                .minidiv .emcav.emcat .RNNXgb {
                    border-bottom-left-radius: 16px;
                    border-bottom-right-radius: 16px
                }

                .RNNXgb:hover, .sbfc .RNNXgb {
                    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
                    border-color: rgba(223, 225, 229, 0)
                }

                #searchform.big .RNNXgb {
                    width: 582px;
                }

                .SDkEP {
                    flex: 1;
                    display: flex;
                    padding: 5px 8px 0 16px;
                    padding-left: 14px;
                }

                .minidiv .SDkEP {
                    padding-top: 0
                }

                #searchform.big .FPdoLc {
                    width: 571px
                }

                .iblpc {
                    display: flex;
                    align-items: center;
                    padding-right: 13px;
                    margin-top: -5px
                }

                .minidiv .iblpc {
                    margin-top: 0
                }</style>
                <div class="RNNXgb" jsname="RNNXgb">
                    <div class="SDkEP">
                        <div class="iblpc" jsname="uFMOof">
                            <style>.hsuHs {
                                margin: auto
                            }

                            .wFncld {
                                margin-top: 3px;
                                color: #9AA0A6;
                                height: 20px;
                                width: 20px
                            }</style>
                            <div class="hsuHs"><span class="wFncld z1asCe MZy1Rb"><svg focusable="false"
                                                                                       xmlns="http://www.w3.org/2000/svg"
                                                                                       viewbox="0 0 24 24"><path
                                    d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path></svg></span>
                            </div>
                        </div>
                        <div jscontroller="iDPoPb" class="a4bIc" jsname="gLFyf"
                             jsaction="h5M12e;input:d3sQLd;focus:dFyQEf;blur:jI3wzf">
                            <style>.gLFyf {
                                background-color: transparent;
                                border: none;
                                margin: 0;
                                padding: 0;
                                color: rgba(0, 0, 0, .87);
                                word-wrap: break-word;
                                outline: none;
                                display: flex;
                                flex: 100%;
                                -webkit-tap-highlight-color: transparent;
                                margin-top: -37px;
                                height: 34px;
                                font-size: 16px
                            }

                            .minidiv .gLFyf {
                                margin-top: -35px;
                            }

                            .a4bIc {
                                display: flex;
                                flex: 1;
                                flex-wrap: wrap
                            }

                            .pR49Ae {
                                color: transparent;
                                flex: 100%;
                                white-space: pre;
                                height: 34px
                            }

                            .pR49Ae span {
                                background: url(/static/images/search_icon.png) repeat-x scroll 0 100% transparent;
                                padding: 0 0 10px 0;
                            }</style>
                            <div class="pR49Ae gsfi" jsname="vdLsw"></div>
                            <input class="gLFyf gsfi" maxlength="2048" name="q" type="text" jsaction="paste:puy29d"
                                   aria-autocomplete="both" aria-haspopup="false" autocapitalize="off"
                                   autocomplete="off"
                                   autocorrect="off" autofocus="" role="combobox" spellcheck="false" title="Search"
                                   value=""
                                   aria-label="Search" data-ved="0ahUKEwjL3YigrovoAhUq0aYKHRbOBDYQ39UDCAQ"></div>
                        <div class="dRYYxd">
                            <style>.dRYYxd {
                                display: flex;
                                flex: 0 0 auto;
                                margin-top: -5px;
                                align-items: stretch;
                                flex-direction: row
                            }

                            .minidiv .dRYYxd {
                                margin-top: 0
                            }</style>
                        </div>
                    </div>
                </div>
                <div jscontroller="tg8oTe" class="UUbT9" style="display:none" jsname="UUbT9"
                     jsaction="mouseout:ItzDCd;mouseleave:MWfikb;hBEIVb:nUZ9le;YMFC3:VKssTb">
                    <style>.UUbT9 {
                        position: relative;
                        text-align: left;
                        margin-top: -1px;
                        z-index: 3;
                        cursor: default;
                        -webkit-user-select: none
                    }

                    .aajZCb {
                        background: #fff;
                        display: flex;
                        flex-direction: column;
                        list-style-type: none;
                        margin: 0;
                        padding: 0;
                        box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
                        border: 0;
                        border-radius: 0 0 24px 24px;
                        box-shadow: 0 4px 6px 0 rgba(32, 33, 36, 0.28);
                        padding-bottom: 4px;
                        overflow: hidden
                    }

                    .minidiv .aajZCb {
                        border-bottom-left-radius: 16px;
                        border-bottom-right-radius: 16px
                    }

                    .erkvQe {
                        flex: auto;
                        padding-bottom: 8px
                    }

                    .RjPuVb {
                        height: 1px;
                        margin: 0 26px 0 0
                    }

                    .S3nFnd .RjPuVb, .S3nFnd .aajZCb {
                        flex: 0 0 auto
                    }

                    .xtSCL {
                        border-top: 1px solid #e8eaed;
                        margin: 0 20px 0 14px;
                        padding-bottom: 4px
                    }
                    </style>
                    <div class="RjPuVb" jsname="RjPuVb"></div>
                    <div class="aajZCb" jsname="aajZCb">
                        <div class="xtSCL"></div>
                        <ul class="erkvQe" jsname="erkvQe" role="listbox"></ul>
                        <style>#ynRric {
                            display: none
                        }

                        .ynRric {
                            list-style-type: none;
                            flex-direction: column;
                            color: #80868B;
                            font-family: arial, sans-serif;
                            font-size: 14px;
                            letter-spacing: 0.75px;
                            margin: 0 20px 0 16px;
                            padding: 8px 0 8px 0;
                            line-height: 16px
                        }</style>
                        <li class="ynRric" id="ynRric" role="presentation"></li>
                        <style>#sbt {
                            display: none
                        }

                        .sbct {
                            display: flex;
                            align-items: center;
                            min-width: 0;
                            padding: 0
                        }

                        .jKWzZXdEJWi__suggestions-inner-container {
                            flex: auto;
                            display: flex;
                            margin: 0 20px;
                            align-items: center;
                            margin: 0 20px 0 14px
                        }

                        .sbtc {
                            display: flex;
                            flex: auto;
                            flex-direction: column;
                            min-width: 0;
                            padding: 6px 0
                        }

                        .sbic {
                            display: flex;
                            flex: 0 1 auto;
                            align-items: center;
                            margin-right: 14px
                        }

                        .sbl1 {
                            display: flex;
                            font-size: 16px;
                            color: #212121;
                            flex: auto;
                            align-items: center;
                            word-break: break-word;
                            padding-right: 8px
                        }

                        .minidiv .sbl1 {
                            font-size: 14px
                        }

                        .sbl1 > span {
                            flex: auto
                        }

                        .sbab {
                            display: flex;
                            flex: 0 1 auto;
                            align-self: stretch
                        }


                        </style>
                        <li data-view-type="1" class="sbct" id="sbt" role="presentation">
                            <div class="jKWzZXdEJWi__suggestions-inner-container">
                                <div class="sbic"></div>
                                <div class="sbtc" role="option">
                                    <div class="sbl1"><span></span></div>
                                </div>
                                <div class="sbab">
                                    <div class="sbai">Remove</div>
                                </div>
                            </div>
                        </li>
                        <div jsname="VlcLAe" class="tfB0Bf">
                            <style>.tfB0Bf {
                                height: 70px
                            }

                            .tfB0Bf input[type="submit"] {
                                background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
                                background-color: #f2f2f2;
                                border: 1px solid #f2f2f2;
                                border-radius: 4px;
                                color: #5F6368;
                                font-family: arial, sans-serif;
                                font-size: 14px;
                                margin: 11px 4px;
                                padding: 0 16px;
                                line-height: 27px;
                                height: 36px;
                                min-width: 54px;
                                text-align: center;
                                cursor: pointer;
                                user-select: none
                            }

                            .tfB0Bf input[type="submit"]:hover {
                                box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
                                background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
                                background-color: #f8f8f8;
                                border: 1px solid #c6c6c6;
                                color: #222
                            }

                            .tfB0Bf input[type="submit"]:focus {
                                border: 1px solid #4d90fe;
                                outline: none
                            }</style>
                        </div>
                    </div>
                    <style>.JUypV {
                        font-size: 8pt;
                        margin-top: -16px;
                        position: absolute;
                        right: 16px
                    }</style>
                    <div jsname="JUypV" jscontroller="IvlUe" class="JUypV"
                         data-async-context="async_id:duf3-46;authority:0;card_id:;entry_point:0;feature_id:;ftoe:0;header:0;is_jobs_spam_form:0;open:0;preselect_answer_index:-1;suggestions:;suggestions_subtypes:;suggestions_types:;surface:0;title:;type:46">
                        <style>a.duf3 {
                            color: #70757a;
                            float: right;
                            font-style: italic;
                            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                            tap-highlight-color: rgba(0, 0, 0, 0)
                        }

                        a.aciXEb {
                            padding: 0 5px;
                        }

                        </style>
                        <div jscontroller="xz7cCd" style="display:none" jsaction="rcuQ6b:npT2md"></div>
                        <div id="duf3-46" data-jiis="up" data-async-type="duffy3"
                             data-async-context-required="type,open,feature_id,async_id,entry_point,authority,card_id,ftoe,title,header,suggestions,surface,suggestions_types,suggestions_subtypes,preselect_answer_index,is_jobs_spam_form"
                             class="y yp" data-ved="0ahUKEwjL3YigrovoAhUq0aYKHRbOBDYQ-0EIBw"></div>
                        <a class="duf3 aciXEb" href="#" id="sbfblt" data-async-trigger="duf3-46" jsaction="async.u"
                           data-ved="0ahUKEwjL3YigrovoAhUq0aYKHRbOBDYQtw8ICA">Report inappropriate predictions</a></div>
                </div>
            </div>
            <div style="background:url(/static/images/search_icon.png)"></div>
        </div>
    </form>
</div>
</body>